/**
 * @file
 * SCSS file to generate CSS.
 *
 * Components design.
 */

.flex { display: flex !important; }
.container {
  display: block;
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  justify-content: space-between;
  @media (max-width: 1200px) {
    padding: 0 30px;
  }
  @media (max-width: 1200px) {
    padding: 0 20px;
  }
}
.row {
  display: inline-block;
  width: 100%;
}
.text-center {
  text-align: center;
}

.main-top-section {
  position: relative;
  min-height: 950px;
  background-image: url('../images/banner_bg.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  &::before {
    position: absolute;
    height: 210px;
    width: 100%;
    content: '';
    @extend .bg-white-transparent;
  }
  @media (max-width: 767px) {
    min-height: 0;
    background-size: auto 50%;
  }
}

.middle-div {
  @media (max-width: 767px) {
    display: table-cell;
    height: 100vh;
    width: 100vw;
    text-align: center;
    vertical-align: middle;
    .inner-div {
      display: inline-block;
    }
  }
}


/**
 * Modal
 */
.modal-container {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 999;
  display: none;
  height: auto;
  width: 100%;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  display: none;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
  &.modal-overlay-blue {
    @extend .modal-overlay-blue-mixin;
    + .modal-container {
      .bg-price-img {
        &::before { background-color: rgba(0, 102, 153, .5); }
      }
    }
  }
}
.modal-show {
  .modal-container { display: inline-block; }
  .modal-overlay { display: inline-block; }
}
.modal-show-in-bg {
  .modal-container {
    z-index: -10;
    display: inline-block;
    opacity: 0;
  }
  .modal-overlay {
    z-index: -10;
    display: inline-block;
    opacity: 0;
  }
}

.modal-dark-bg {
  max-width: 1200px;
  margin: 0 0 0 -600px;
  padding: 50px;
  @include background-vertical(#A9ABA8, #474747);
  @media (max-width: 1250px) {
    left: 5%;
    width: 90%;
    margin-left: 0;
  }
  @media (max-width: 992px) {
    padding: 30px;
  }
  @media (max-width: 767px) {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 20px;
  }
}
.modal-forms {
  top: 50%;
  min-height: 440px;
  max-width: 670px;
  margin: -220px 0 0 -335px;
  padding: 0;
  background-color: #FFF;
  @include box-shadow(0 3px 4px 1px rgba(0, 0, 0, .3));
  .bg-price-img {
    position: absolute;
    @include calc('top', '100% + 8px');
    bottom: auto;
    left: 50%;
    height: auto;
    width: 570px;
    margin: 0 0 0 -285px;
    /*background-image: url('../images/pop-up-bg-small.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;*/
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, .5);
      content: '';
    }
    @media (max-width: 767px) {
      left: 0;
      width: 70%;
      margin-left: 15%;
    }
    @media (max-width: 480px) {
      width: 80%;
      margin-left: 10%;
    }
  }
  @media (max-width: 767px) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
  }
}
.location-fields-wrap {
  @media (max-width: 767px) {
    .flex {
      display: inline-block !important;
      width: 100%;
    }
  }
}

/* Pop-up form text,btn,.. fields */
.popup-form-steps {
  .form-group {
    .popup-form__text-field {
      display: inline-block;
      width: 100%;
      margin: 0 5px 15px;
      font-size: 16px;
      text-align: center;
    }
  }
  .form-action {
    text-align: center;
  }
  .popup-form__btn {
    display: inline-block;
    width: 100%;
    font-style: normal;
  }
}

.location-fields {
  display: inline-block;
  max-width: 440px;
  width: 55%;
  padding: 40px 50px;
  @media (max-width: 767px) {
    max-width: 100%;
    width: 100%;
    padding: 40px 140px;
  }
  @media (max-width: 640px) {
    padding: 40px 50px;
  }
  .form-group {
    display: inline-block;
    width: 100%;
    margin: 0 0 50px;
    label {
      display: inline-block;
      width: 100%;
      padding: 0;
      color: #A3A3A3;
      font-size: 14px;
    }
    /*input[type='text'] { font-weight: bold; }*/
    .zip-code-lbl {
      padding: 0 0 10px;
      text-align: center;
    }
    .zip-code-link {
      display: inline-block;
      padding: 10px 0 0 30px;
      color: #024DA1;
      font-size: 15px;
      text-decoration: underline;
    }
    @media (max-width: 767px) {
      &.form-group2 {
        text-align: center;
      }
      label {
        padding-left: 0;
      }
    }
  }
  /*.form-action {
    text-align: center;
    .btn {
      display: inline-block;
      width: 100%;
    }
  }*/
}
.location-map {
  width: 45%;
  iframe {
    max-height: 100%;
    max-width: 100%;
  }
  @media (max-width: 767px) {
    width: 100%;
    iframe {
      height: 250px;
      width: 100%;
    }
  }
}

.credit-score {
  padding: 100px;
  h2 {
    margin: 0 0 60px;
    color: #484848;
    font-size: 24px;
    text-transform: capitalize;
  }
  @media (max-width: 767px) {
    padding: 30px;
    /*select {
      max-width: 100%;
      min-width: 0;
    }*/
  }
}
.email-field {
  padding: 70px 30px;
  color: #484848;
  @media (max-width: 767px) {
    padding: 40px 20px 100px;
  }
  h2 {
    margin: 0 0 35px;
    text-transform: capitalize;
  }
  .sub-lbl {
    display: inline-block;
    width: 100%;
    margin: 0 0 35px;
    color: #A3A3A3;
    font-size: 20px;
    img {
      height: auto;
      width: 20px;
      margin: 1px 2px 0 0;
    }
  }
  .form-group {
    input[type='text'],
    input[type='email'] {
      max-width: 260px;
    }
    .btn { max-width: 160px; }
    @media (max-width: 767px) {
      /*input[type='text'],
      input[type='email'] {
        max-width: 100%;
        margin: 0 0 15px;
      }*/
    }
  }
  .email-field-footer {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    p {
      padding: 0 30px;
      color: #A3A3A3;
      font-size: 9.5px;
      text-align: justify;
    }
    hr {
      display: inline-block;
      height: 1px;
      width: 100%;
      margin: 12px 0;
      padding: 0;
      border: none;
      background-color: #DDD;
    }
    .norton-logo {
      padding: 10px 0 28px;
    }
  }
}
.name-field {
  .form-group {
    input[type='text'],
    input[type='email'] {
      max-width: 160px;
    }
    .btn { max-width: 160px; }
    @media (max-width: 480px) {
      input[type='text'],
      input[type='email'] {
        width: 44%;
      }
    }
  }
}
.number-field {
  @media (max-width: 767px) {
    padding-bottom: 240px;
  }
  .form-group {
    input[type='text'],
    input[type='email'] {
      max-width: 300px;
    }
    .btn {
      max-width: 100%;
      width: auto;
    }
    @media (max-width: 767px) {
      /*input[type='text'],
      input[type='email'] {
        max-width: 100%;
        margin: 0 0 15px;
      }*/
    }
  }
}

.progress-bar-wrap {
  padding: 115px 50px;
  .progress-lbl {
    display: inline-block;
    padding: 0 0 80px;
    color: #484848;
    font-size: 20px;
  }
  @media (max-width: 767px) {
    padding: 50px 30px;
    .progress-lbl {
      min-height: 140px;
    }
  }
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  a {
    float: right;
    margin: 7px 11px 0 0;
    color: #FFF;
    font-size: 40px;
    font-weight: normal;
    font-family: sans-serif;
  }
  @media (max-width: 992px) {
    a { font-size: 20px; }
  }
  @media (max-width: 767px) {
    a { margin: 2px 5px 0 0; }
  }
}


/**
 * Progress bar
 */
.progress-value {
  display: inline-block;
  width: 100%;
  padding: 0 0 15px;
  font-size: 18px;
}
#myProgress {
  display: inline-block;
  height: 10px;
  max-width: 350px;
  width: 100%;
  overflow: hidden;
  background-color: #DDD;
  text-align: center;
  @include border-radius(50px);
  #myBar {
    float: left;
    display: inline-block;
    height: 10px;
    width: 0;
    background-color: #F5881F;
    color: white;
    font-size: 0;
    line-height: 12px;
    text-align: center;
    @include border-radius(50px 0 0 50px);
  }
}

.frame {
  max-height: 500px;
  max-width: 800px;
  overflow: auto;
}
