/**
 * @file
 * SCSS file to generate CSS.
 *
 * Footer SCSS.
 */

.footer {
  display: inline-block;
  width: 100%;
  padding: 30px 0;
  background-color: #000;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  a {
    padding: 0 0 0 20px;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
  }
}
